{
  "openapi": "3.0.3",
  "info": {
    "title": "绦管后台 API 文档",
    "description": "电商后台管理系统RESTful API，支持小程序对接",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://qimengzhiyue.cn/api/v1",
      "description": "生产环境"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "开发环境"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "用户认证"
    },
    {
      "name": "Products",
      "description": "商品管理"
    },
    {
      "name": "Categories",
      "description": "商品分类"
    },
    {
      "name": "Orders",
      "description": "订单管理"
    },
    {
      "name": "Users",
      "description": "用户管理"
    },
    {
      "name": "Dashboard",
      "description": "仪表盘"
    },
    {
      "name": "Cart",
      "description": "购物车"
    },
    {
      "name": "Content",
      "description": "内容管理"
    },
    {
      "name": "Search",
      "description": "搜索"
    },
    {
      "name": "Health",
      "description": "健康检查"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "用户登录",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "登录成功"
          },
          "401": {
            "description": "密码错误"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "用户注册",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "username",
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "注册成功"
          },
          "409": {
            "description": "已存在"
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "获取个人信息",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "put": {
        "tags": [
          "Auth"
        ],
        "summary": "更新个人信息",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "更新成功"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "商品列表",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "刕efa商品",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "stock": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "刕efa成功"
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "商品详情",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          },
          "404": {
            "description": "不存在"
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "更新商品",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "删除商品",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "删除成功"
          }
        }
      }
    },
    "/products/recommended": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "推荐商品",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/products/hot": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "热门商品",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/products/search": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "搜索商品",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "搜索成功"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "分类列表",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "刕efa分类",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "刕efa成功"
          }
        }
      }
    },
    "/categories/tree": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "分类树形结构",
        "parameters": [
          {
            "name": "flat",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "分类详情",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "summary": "更新分类",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "summary": "删除分类",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "删除成功"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "刕efa订单",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_id": {
                          "type": "integer"
                        },
                        "quantity": {
                          "type": "integer"
                        },
                        "price": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "product_id",
                        "quantity",
                        "price"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "刕efa成功"
          },
          "400": {
            "description": "参数无效"
          },
          "404": {
            "description": "商品不存在"
          }
        }
      }
    },
    "/orders/my": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "我的订单",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "订单详情",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          },
          "403": {
            "description": "权限不足"
          },
          "404": {
            "description": "不存在"
          }
        }
      }
    },
    "/orders/{orderId}/status": {
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "更新状态",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新成功"
          },
          "400": {
            "description": "非法转换"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "用户列表",
        "security": [
          {
            "bearerAuth": [],
            "scopes": [
              "admin"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          },
          "403": {
            "description": "权限不足"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "刕efa用户",
        "security": [
          {
            "bearerAuth": [],
            "scopes": [
              "admin"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "username",
                  "email",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "刕efa成功"
          }
        }
      }
    },
    "/users/{userId}": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "更新用户",
        "security": [
          {
            "bearerAuth": [],
            "scopes": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "删除用户",
        "security": [
          {
            "bearerAuth": [],
            "scopes": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "删除成功"
          }
        }
      }
    },
    "/users/{userId}/status": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "更新状态",
        "security": [
          {
            "bearerAuth": [],
            "scopes": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/dashboard/overview": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "概览统计",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/dashboard/sales": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "销售趋势",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/dashboard/products": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "热销TOP5",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/dashboard/users": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "最新用户",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/dashboard/orders": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "最近订单",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/cart": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "购物车列表",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "添加到购物车",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "productId"
                ],
                "properties": {
                  "productId": {
                    "type": "integer"
                  },
                  "quantity": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "清空购物车",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/cart/{cartItemId}": {
      "put": {
        "tags": [
          "Cart"
        ],
        "summary": "更新数量",
        "parameters": [
          {
            "name": "cartItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "删除商品",
        "parameters": [
          {
            "name": "cartItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/cart/batch": {
      "put": {
        "tags": [
          "Cart"
        ],
        "summary": "批量更新",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "批量删除",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/cart/select/all": {
      "put": {
        "tags": [
          "Cart"
        ],
        "summary": "全选/取消全选",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/content/homepage": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "首页完整数据",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/content/homepage/banners": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "轮播图",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/content/homepage/recommendations": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "推荐商品",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/content/homepage/promotions": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "促销活动",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/content/homepage/hot-products": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "热门商品",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/search/hot-keywords": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "热门关键词",
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/search/suggestions": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "搜索建议",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "健康检查",
        "responses": {
          "200": {
            "description": "服务正常"
          }
        }
      }
    },
    "/health/db-test": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "数据库测试",
        "responses": {
          "200": {
            "description": "正常"
          },
          "500": {
            "description": "连接失败"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer Token 认证"
      }
    },
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "苹果iPhone 16 Pro Max"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 9999
          },
          "stock": {
            "type": "integer",
            "example": 50
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "order_no": {
            "type": "string"
          },
          "total_amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "shipped",
              "completed",
              "cancelled"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "integer"
          },
          "product_name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ]
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "const": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}